# Entornos virtuales
bigdata_env/
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.pyc

# Logs y temporales
*.log
*.tmp

# Datos locales
data/
osiptel_staging/
*.xlsx
*.csv
*.parquet

# Credenciales y secretos
*.pem
*.key
credentials.json
secrets.*
